<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Index</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
			type="text/css"
			rel="stylesheet"
			media="screen,projection"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<nav class="white" role="navigation">
			<div style="margin-left: 7rem" class="nav-wrapper">
				<b
					><a
						id="logo-container"
						href="/"
						class="brand-logo"
						style="color: rgb(0, 0, 0)"
						><img src="/images/TweazyLogo.svg" width="30%" /></a
				></b>
			</div>
		</nav>

		<div>
			<div style="padding: 10px 100px" class="row">
				<div style="margin-top: 20%" class="col s12 m6 l6 offset-r3">
					<h3 style="font-family: 'Abel', sans-serif">
						Twitter made easy and safe!
					</h3>
					<h5 style="color: grey; font-family: 'Abel', sans-serif">
						Tweazy is a chrome extension that helps you analyze
						twitter accounts based on the content and history with
						real-time sentiment analysis on tweets.
					</h5>
					<button
						style="
							background-color: #6c62ff;
							font-family: 'Abel', sans-serif;
						"
						class="btn waves-effect waves-light"
						type="button"
						onclick="location.href = '/download'"
					>
						Download Extension
						<i class="material-icons right">home</i></button
					>&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<div
					style="margin-top: 15%; text-align: right"
					class="col s12 m6 l6"
				>
					<img width="75%" src="/images/tweet.svg" />
				</div>
			</div>
			<div
				style="
					padding: 0 100px;
					background-color: #dcdcdc;
					min-height: 600px;
				"
				class="row"
			>
				<div style="margin-top: 15%" class="col s12 m5 l5">
					<img width="75%" src="/images/tweet2.svg" />
				</div>
				<div
					style="margin-top: 15%; text-align: right"
					class="col s12 m7 l7"
				>
					<br />
					<h3 style="font-family: 'Abel', sans-serif">
						Say hello to your Twitter companion
					</h3>

					<h5 style="font-family: 'Abel', sans-serif; color: grey">
						One in every 21 tweets is estimated to be spam or
						negative on Twitter. Tweazy helps you analyze these
						negative tweets easily and assists you in determining
						whether an account is negative/spam depending on the
						details.
					</h5>
					<br />
				</div>
			</div>
			<div style="padding: 0 100px" class="row">
				<div style="text-align: center">
					<h3 style="font-family: 'Abel', sans-serif">
						Making Twitter a better place, one account at a time
					</h3>
				</div>

				<div style="margin-top: 8%" class="col s12 m6 l6 offset-r3">
					<h4 style="font-family: 'Abel', sans-serif">
						How Tweazy works:
					</h4>

					<h5 style="font-family: 'Abel', sans-serif">
						a&rpar; The extension displays the usernames on your
						screen for you to choose.
					</h5>
					<h5 style="font-family: 'Abel', sans-serif">
						b&rpar; 50 latest tweets of the respective Twitter
						account are analyzed to give you the overall sentiment
						score and displays the sentiment graph which shows the
						number of positive, neutral, and negative tweets among
						them.
					</h5>
					<h5 style="font-family: 'Abel', sans-serif">
						c&rpar; It also gives you insights on the number of
						followers and friends, and the time at which the account
						was created
					</h5>
				</div>
				<div
					style="margin-top: 7%; text-align: right"
					class="col s12 m6 l6"
				>
					<img width="75%" src="/images/tweet.svg" />
				</div>
			</div>
			<br /><br />
		</div>

		<footer
			style="background-color: #111828; margin-top: none; height: 150px"
		>
			<div
				style="
					display: flex;
					justify-content: space-between;
					color: white;
					margin-left: 30px;
				"
			>
				<div
					style="
						display: flex;
						justify-content: space-around;
						flex-direction: column;
						margin-right: 50px;
					"
				>
					<h5 style="font-family: 'Abel', sans-serif">Tweazy</h5>
					<h6 style="font-family: 'Abel', sans-serif">
						Copywrite © 2021 All rights reserved
					</h6>
					<h6 style="font-family: 'Abel', sans-serif">
						Made by&nbsp; <b> Laasya, Aravind and Yashank </b>
					</h6>
				</div>
				<div style="display: flex; flex-direction: column">
					<h5>Apps</h5>
					<h6 style="font-family: 'Abel', sans-serif">
						Chrome Extension
					</h6>
				</div>
				<img
					style="align-self: right"
					height="150px"
					width="150px"
					src="/images/logo.gif"
				/>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
